<div class="row">
    <div id="lista"><ul>
        <li><span class="Rotulo">Nombre:</span> Maximiliano Ezequiel Palazón</li>
        <li><span class="Rotulo">Titulo:</span> Full Stack Developer Jr</li>
        <li><span class="Rotulo">Descripción:</span> Profesional, proactividad e imaginación , son las 3 caracteristicas que definen mi trabajo.
            Siempre buscando la innovación para encontrar nuevas formas mas dinamicas y llamativas. </li>
    </ul></div>
    <div id="foto">
    <img src="../../../assets/Perfil foto.jpg">
</div>
</div>